/* footer */
.layui-footer {
    text-align: center;
    font-size: 12px;
}

/* 阿里图标 */
.iconfont {
    margin-right: 8px;
}

/* layui里面的突变 */
.layui-icon {
    margin: 0 8px 0 20px;
}

.layui-body {
    overflow: hidden;
}

.layui-body iframe {
    width: 100%;
    height: 100%;
}

a {
    transition: none !important;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    /* 不可选中复制 */
    user-select: none;
    font-size: 12px;
}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33;
}

.text-avartar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;

    position: relative;
    top: 4px;
}

/* 保持2个头像是一样大小的 */
.layui-nav-img {
    width: 40px;
    height: 40px;
}